<div class="jumbotron">
  <div class="container text-center">
    <div>
      <img src="/assets/poison.svg">

      <h1>Wanna play a game?</h1>
      <p>Just you and an array of squares right in front of you. Some of them conceal mines, some don't. Touch the wrong one: Instant Death.</p>
      <p>That's pretty much it. Sounds fun? Let's jump right in.</p>
      <small>(Don't say we didn't warn you)</small>
      <p><a class="btn btn-primary btn-lg" (click)="onPlayGame()" role="button">
        Let's play.</a></p>
    </div>
  </div>
</div>
