<h1>Instructions</h1>

<h3>Quick Start</h3>

<div>
  <img class="d-flex mr-3" src="/assets/bomb.svg" class="icon right">
    <p>You are presented with a board of squares. Some squares contain mines (bombs), others don't. If you
      click on a square containing a bomb, you lose. If you manage to click all the squares (without
      clicking on any bombs) you win.
    </p>
    <p>Clicking a square which doesn't have a bomb reveals the number of neighbouring squares containing
      bombs. Use this information plus some guess work to avoid the bombs.
    </p>
    <p>To open a square, point at the square and click on it. To mark a square you think is a bomb, point
      and right-click.
    </p>
</div>

<h3>Detailed Instructions</h3>

<div>
  <img class="d-flex ml-3" src="/assets/skull.svg" class="icon left">
  <p>A square's &quot;neighbours&quot; are the squares adjacent above, below, left, right, and all 4
      diagonals. Squares on the sides of the board or in a corner have fewer neighbors. The board does not
      wrap around the edges.
    </p>
    <p>If you open a square with 0 neighboring bombs, all its neighbors will automatically open. This can
      cause a large area to automatically open.
    </p>
    <p>To remove a bomb marker from a square, point at it and right-click again.</p>
    <p>The first square you open is never a bomb.</p>
    <p>If you mark a bomb incorrectly, you will have to correct the mistake before you can win. Incorrect
      bomb marking doesn't kill you, but it can lead to mistakes which do.
    </p>
    <p>You don't have to mark all the bombs to win; you just need to open all non-bomb squares.</p>
</div>

<img src="http://i.giphy.com/VO6ErdTWf7KiQ.gif" class="lol">

<p class="text-muted">Source: <a href="http://www.freeminesweeper.org/help/minehelpinstructions.html"
                                 target="_blank">freeminesweeper.org</a></p>
