<div class="btn-group">

  <button (click)="onNewGame()" class="btn btn-primary">Start New Game</button>

  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="onSave()">Save current game</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="onLoad()">Load saved game</a>
  </div>

</div>

<div class="btn-group">

  <button class="btn btn-primary">Solve...</button>

  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" (click)="onSolveOne()">Open one field</a>
    <a class="dropdown-item" (click)="onSingleStep()">Open all (single step)</a>
    <a class="dropdown-item" (click)="onSolveAll()">Solve all (iteratively)</a>
  </div>

</div>
